In [1]:
import sys
sys.path.insert(1, '../src')

import utils
import pandas as pd
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 50)
import re

In [2]:
dataschema = ['Engine_no', 'Time', 'Altitude', 'Mach', 'TRA', 'T2', 'T24', 
              'T30', 'T50', 'P2', 'P15', 'P30', 'Nf', 'Nc', 'epr', 'Ps30', 
              'phi', 'NRf', 'NRc', 'BPR', 'farB', 'htBleed', 'Nf_dmd', 
              'PCNfR_dmd', 'W31', 'W32']
dataframes = utils.load_data('RUL', ["RUL"], dataschema)

  0%|          | 0/14 [00:00<?, ?it/s]

------------------------------
----------RUL_FD001-----------
------------------------------
Number of rows : 100
Number of columns : 1

------------------------------
----------RUL_FD002-----------
------------------------------
Number of rows : 259
Number of columns : 1

------------------------------
----------RUL_FD003-----------
------------------------------
Number of rows : 100
Number of columns : 1

------------------------------
----------RUL_FD004-----------
------------------------------
Number of rows : 248
Number of columns : 1

------------------------------
----------test_FD001----------
------------------------------
Number of rows : 13096
Number of columns : 26

------------------------------
----------test_FD002----------
------------------------------
Number of rows : 33991
Number of columns : 26

------------------------------
----------test_FD003----------
------------------------------
Number of rows : 16596
Number of columns : 26

------------------------------
----------test_FD004----------
------------------------------
Number of rows : 41214
Number of columns : 26

------------------------------
---------train_FD001----------
------------------------------
Number of rows : 20631
Number of columns : 26

------------------------------
---------train_FD002----------
------------------------------
Number of rows : 53759
Number of columns : 26

------------------------------
---------train_FD003----------
------------------------------
Number of rows : 24720
Number of columns : 26

------------------------------
---------train_FD004----------
------------------------------
Number of rows : 61249
Number of columns : 26

In [3]:
dataframes = utils.extract_rul(dataframes)

In [4]:
dataframes['test_FD001'].loc[:,['Engine_no', 'Time', 'RUL']].head(35)

    Engine_no  Time  RUL
0           1     1  142
1           1     2  141
2           1     3  140
3           1     4  139
4           1     5  138
5           1     6  137
6           1     7  136
7           1     8  135
8           1     9  134
9           1    10  133
10          1    11  132
11          1    12  131
12          1    13  130
13          1    14  129
14          1    15  128
15          1    16  127
16          1    17  126
17          1    18  125
18          1    19  124
19          1    20  123
20          1    21  122
21          1    22  121
22          1    23  120
23          1    24  119
24          1    25  118
25          1    26  117
26          1    27  116
27          1    28  115
28          1    29  114
29          1    30  113
30          1    31  112
31          2     1  146
32          2     2  145
33          2     3  144
34          2     4  143